<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.cart.mapper.CartMapper">

	<insert id="addCart">
	INSERT INTO CARTTABLE
		(CARTNO, CARTPRODUCTID, CARTDATE, CARTUSERID)
	VALUES(#{CARTNO}, #{CARTPRODUCTID}, #{CARTDATE}, #{CARTUSERID})
	
	</insert>
	
	<delete id="deleteCart">
	DELETE 
	FROM CARTTABLE
	WHERE cartuserid = #{cartuserid}
	
	</delete>

</mapper>